<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="IBKR Porez"
    Manufacturer="Andrei Sorokin"
    Version="$(var.ProductVersion)"
    UpgradeCode="b8f5c2e1-7a3d-4e9f-b6c8-1d2e3f4a5b6c"
    Scope="perUser">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of IBKR Porez is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="icon\ibkr_porez.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLDIR" Name="IBKR Porez">
        <Component Id="CliBinary" Guid="*">
          <File Id="CliExe" Source="staging\ibkr-porez.exe" KeyPath="yes" />
          <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]"
                       Permanent="no" Part="last" Action="set" System="no" />
        </Component>
        <Component Id="GuiBinary" Guid="*">
          <File Id="GuiExe" Source="staging\ibkr-porez-gui.exe" KeyPath="yes" />
        </Component>
        <Component Id="License" Guid="*">
          <File Id="LicenseFile" Source="staging\LICENSE.txt" KeyPath="yes" />
        </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="StartMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="IBKR Porez">
        <Component Id="StartMenuShortcut" Guid="*">
          <Shortcut Id="GuiShortcut" Name="IBKR Porez"
                    Target="[INSTALLDIR]ibkr-porez-gui.exe" WorkingDirectory="INSTALLDIR"
                    Icon="AppIcon.ico" />
          <RemoveFolder Id="CleanUpShortcut" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\IBKR Porez" Name="installed"
                         Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="CliBinary" />
      <ComponentRef Id="GuiBinary" />
      <ComponentRef Id="License" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>
